.titleLine {        /** Div Father */
    margin-top: 20px;
}
.titleLine .title {     /** Título */
    font-size: 25px;
}
.titleLine .line {      /** Linha abaixo do título */
    width: 100%;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}
