.successMessage {       /** Div Father */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Candara;
    padding: 50px;
}
.successMessage .title {    /** Título (texto grande) */
    font-size: 35px;
    font-weight: bold;
    margin-top: 10px;
}
.successMessage .text {     /** Texto pequeno */
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    color: #999;
}