.allProducts {
    padding: 50px;
    font-family: Candara;
}
.allProducts .mainDiv {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 20% 75%;
    grid-gap: 5%;
}

.allProducts .mainDiv .side {
    display: flex;
    flex-direction: column;
}

.allProducts .mainDiv .side .topDiv {
    background-color: #000;
    display: flex;
    align-items: center;
    height: 35px;
    padding-left: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.allProducts .mainDiv .side .topDiv .categoryTitle {
    color: #fff;
}


.allProducts .mainDiv .side .mainCategory {
    border: 1px solid #ddd;
}

.allProducts .mainDiv .side .mainCategory .itemCategory .categoryDiv {
    border-bottom: 1px solid #ddd;
    height: 40px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    transition: 250ms;
    cursor: pointer;
}

.allProducts .mainDiv .side .mainCategory .itemCategory .subCategory  {
    display: flex;
    flex-direction: column;
}

.allProducts .mainDiv .side .mainCategory .itemCategory .subCategory .subCategoryItem {
    height: 40px;
    border-bottom: 1px solid #ddd;
    padding-left: 25px;
    display: flex;
    align-items: center;
    transition: 250ms;
    cursor: pointer;
}
/** -- 1 -- */

/** 2 -- **/
.allProducts .mainDiv .side .topInfo {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #efefef;
}
.allProducts .mainDiv .side .topInfo .topCategory {
    font-size: 20px;
    font-weight: bold;
}
.allProducts .mainDiv .side .topInfo .topInfoCategory {
    color: #bbb;
    margin: 10px 0 0 30px;
    line-height: 1.5;
}
/** **/


.allProducts .mainDiv .side .refineSearch {
    margin-top: 15px;
}
.allProducts .mainDiv .side .refineSearch .refineSearchTitle {
    font-weight: bold;
    font-size: 18px;
}
.allProducts .mainDiv .side .refineSearch .refineSearchItem {
    display: flex;
    border: 1px solid #ddd;
    margin: 10px 10px 0 0;
    padding: 5px 10px;
    cursor: pointer;
    transition: 250ms;
    font-size: 14px;
}

.allProducts .mainDiv .side .rowOptions {
    display: flex;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 15px 0;
    justify-content: space-between;
}
.allProducts .mainDiv .side .rowOptions .optionsIcon {
    display: flex;
    cursor: pointer;
    align-items: center;
}
.allProducts .mainDiv .side .rowOptions .text {
    font-weight: bold;
    font-size: 20px;
}

.allProducts .mainDiv .side .rowOptions .sortAndShowDiv .label {
    margin: 0 10px 0 20px;
}
.allProducts .mainDiv .side .rowOptions .sortAndShowDiv .select {
    width: 150px;
    height: 25px;
    border: 1px solid #ddd;
    padding: 0 5px;
    cursor: pointer;
    font-size: 12px;
}



/** 3 -- Div do array */
.allProducts .arrayProducts {       /** Div father do array */
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    grid-gap: 30px;
}
.allProducts .arrayProducts .itemDiv {      /** Div singular do item */
    display: flex;
    flex-direction: column;
    animation: fadeItem 1s;
    cursor: pointer;
}
.allProducts .arrayProducts .itemDiv .itemImg {     /** Div com Imagem e uns botões escondidos que mostrar ao dar um hover */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    position: relative;
}
.allProducts .arrayProducts .itemDiv .itemImg .saleText {       /** Texto para saber se o produto já está esgotado */
    background-color: #CD553F;
    color: #fff;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    position: absolute;
    top: 15px;
    left: 25px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.allProducts .arrayProducts .itemDiv .img {         /** Imagem (em PNG) dentro da div */
    width: 180px;
    height: 180px;
    cursor: pointer;
    transition: 500ms;
}
.allProducts .arrayProducts .itemDiv .itemImg .rowBtnHidden {       /** Div escondida com 4 botões */
    display: none;
    position: absolute;
    bottom: 20px;
}
.allProducts .arrayProducts .itemDiv .itemImg .rowBtnHidden .btnHidden {        /** Botão dentro da div escondida */
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}
.allProducts .arrayProducts .itemDiv .itemText {        /** Div com textos (name e price) abaixo das imagens */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.allProducts .arrayProducts .itemDiv .itemText .name {      /** Nome do produto */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 270px;
    text-align: center;
}
.allProducts .arrayProducts .itemDiv .itemText .price {     /** Preço do produto */
    font-size: 22px;
    font-weight: bold;
}
/** -- 3 -- */


.allProducts .mainDiv .side .rowOptions .sortAndShowDiv .select:focus {
    border: 1px solid #CD553F;
    outline: 0;
}


.allProducts .mainDiv .side .mainCategory .itemCategory .categoryDiv:hover,
.allProducts .mainDiv .side .mainCategory .itemCategory .subCategory .subCategoryItem:hover,
.allProducts .mainDiv .side .refineSearch .refineSearchItem:hover {
    color: #CD553F;
}

/** Hovers **/
.allProducts .arrayProducts .itemDiv:hover .itemImg .img{   /** Efeito de zoom na imagem ao passar mouse em cima do ItemDiv */
    transform: scale(1.1);
}
.allProducts .arrayProducts .itemDiv:hover .itemImg .rowBtnHidden{      /** Passar o mouse em cima do item do array, mostra a div escondida com os botões */
    display: flex;
    animation: fadeItem 500ms;
}
.allProducts .arrayProducts .itemDiv .itemImg .rowBtnHidden .btnHidden:hover {      /** Mudar cor do botão ao passar mouse em cima dos botões */
    cursor: pointer;
    background-color: #CD553F;
}
/** **/

/** Animations **/
@keyframes fadeItem {   /** Animação de fade ao trocar o filtro de items */
    from{opacity: 0}
    to{opacity: 1}
}
/** **/