.blog {
    margin: 100px 50px;
    font-family: Candara;
    display: flex;
    flex-direction: column;
}

.blog .title {
    text-align: center;
    font-size: 40px;

}

.blog .arrayDiv {
    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

.blog .arrayDiv .itemDiv {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 10px;
    height: 200px;
    padding: 10px 0;
    cursor: pointer;
    transition: 250ms;
}

.blog .arrayDiv .itemDiv .top {
    border-bottom: 1px solid #ddd;
    height: 50%;
    margin: 0 25px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.blog .arrayDiv .itemDiv .top .date {
    font-size: 20px;
}

.blog .arrayDiv .itemDiv .top .title{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.blog .arrayDiv .itemDiv .top .content {
    color: #999;
    height: 20px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
}

.blog .arrayDiv .itemDiv .readMore {
    display: flex;
    align-items: center;
    height: 45%;
    margin: 0 25px;
}

.blog .arrayDiv .itemDiv .readMore .ballDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #CD553F;
}

.blog .arrayDiv .itemDiv .readMore .readText {
    color: #CD553F;
    margin-left: 20px;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.blog .arrayDiv .itemDiv:hover {
    border: 1px solid #000;
}

.blog .arrayDiv .itemDiv .readMore .readText:hover {
    color: #000;
}