.contact {      /** Div Father */
    padding: 50px;
    font-family: Candara;
}
.contact .bigTitle {        /** Título grande fora da Main Div */
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 30px;
    font-weight: bold;
}


/** 1 -- Div Main com infos e o form */
.contact .mainDiv {     /** Div Father alinhada horizontalmente */
    display: grid;
    grid-template-columns: 30% 65%;
    grid-gap: 5%;
}
.contact .mainDiv .side {       /** Divs com infos e o form (2 Divs) */
    padding: 25px 0;
}


/** 1.1 --  Div dentro da primeira Div Side "Our Location" **/
.contact .mainDiv .side .info {     /** Div para separar em blocos */
    display: flex;
    margin-top: 30px;
}
.contact .mainDiv .side .info .infoText {       /** Texto com as infos */
    width: 180px;
    font-size: 20px;
}
/** -- 1.1 -- */


/** 1.2 -- Div dentro da segunda Div Side "Contact Form" **/
.contact .mainDiv .side .divInput {     /** Div com label e input */
    display: flex;
    margin-top: 20px;
}
.contact .mainDiv .side .divInput .label {      /** Label */
    width: 200px;
    margin-top: 10px;
    font-size: 18px;
}
.contact .mainDiv .side .divInput .input {      /** Input */
    border: 1px solid #ddd;
    height: 40px;
    width: 100%;
    transition: 250ms;
    padding-left: 10px;
    font-size: 18px;
}
.contact .mainDiv .side .divInput .inputArea {      /** TextArea (input grande) */
    border: 1px solid #ddd;
    height: 250px;
    width: 100%;
    transition: 250ms;
    padding: 10px;
    font-size: 18px;
}
/** -- 1.2 -- */


/** 1.3 -- Div com Captcha para preenchimento */
.contact .captcha {     /** Div Father */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contact .captcha .divInput {       /** Div com input e label */
    display: flex;
    margin-top: 20px;
}
.contact .captcha .label {      /** Label */
    margin-right: 10px;
    font-size: 18px;
    text-align: right;
}
.contact .captcha .input {      /** Input */
    border: 1px solid #ddd;
    height: 40px;
    width: 100%;
    transition: 250ms;
    padding-left: 10px;
    font-size: 18px;
}
/** -- 1.4 -- */

.contact .submitBtn {       /** Div para conseguir posicionar o botão Submit no final da tela horizontal */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-top: 40px;
}
/** -- 1 -- */


/** Focus **/
.contact .mainDiv .side .divInput input:focus,              /** Muda cor da borda do input e textarea ao focar */
.contact .mainDiv .side .divInput textarea:focus, .contact .captcha .divInput input:focus {
    border: 1px solid #CD553F;
    outline: none;
}
/** **/