.forgotPassword {
    padding: 50px;
    font-family: Candara;
}

.forgotPassword .mainDiv .rowInput {
    display: flex;
    margin: 20px 0 0 100px;
}
.forgotPassword .mainDiv .rowInput .label {
    width: 200px;
    text-align: right;
    margin-top: 5px;
    font-size: 18px;
}
.forgotPassword .mainDiv .rowInput .input {
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    transition: 250ms;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 20px;
}


.forgotPassword .mainDiv .divBtn {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}