.forgotPassword {       /** Div Father */
    padding: 50px;
    font-family: Candara;
}

/** 1 -- Div com input e label alinhadas horizontalmente **/
.forgotPassword .mainDiv .rowInput {    /** Div Father */
    display: flex;
    margin: 20px 0 0 100px;
}
.forgotPassword .mainDiv .rowInput .label {     /** Label */
    width: 200px;
    text-align: right;
    margin-top: 5px;
    font-size: 18px;
}
.forgotPassword .mainDiv .rowInput .input {     /** Input */
    height: 40px;
    width: 100%;
    border: 1px solid #ddd;
    transition: 250ms;
    padding-left: 10px;
    font-size: 18px;
    margin-left: 20px;
}
/** -- 1 -- */

.forgotPassword .mainDiv .divBtn {      /** Div com 2 botões separados no maior extremo da tela horizontal */
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}