/** As classes que "clonei" como centerText e centerText2, significa que precisei fazer 2 animações diferentes para
    cada uma, assim me obrigando a criar 2 classes pra cada uma pegar uma animação
 */

.header {
    width: 100%;
    font-family: Candara;
}


/** 1 -- HeaderTop  */
.header .headerTop {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

.header .headerTop .headerTopTitle {        /** Div com o título do HeaderTop */
    display: flex;
    align-items: center;
    margin-left: 50px;
    height: 80px;
}
.header .headerTop .headerTopTitle .headerTitle {       /** Texto título do HeaderTop */
    font-weight: bold;
    font-size: 25px;
}

/** 1.1 -- Header Top na esquerda */
.header .headerTop .headerTopLeft {     /** Div Father */
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.header .headerTop .headerTopLeft .headerLinkDiv {      /** Div com os links */
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    height: 80px;
    justify-content: center;
}
.header .headerTop .headerTopLeft .headerLinkDiv .headerLink {      /** Os links */
    height: 20px;
    transition: 250ms;
    cursor: pointer;
}
.header .headerTop .headerTopLeft .headerLinkDiv .headerSubLink {
    min-width: 150px;
    padding: 25px;
    background-color: #fff;
    position: absolute;
    display: flex;
    top: 80px;
    border-bottom: 5px solid #CD553F;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 999;
    animation: fade 750ms;
}
.header .headerTop .headerTopLeft .headerLinkDiv .headerSubLink .headerSubLinkSide {
    display: flex;
    flex-direction: column;
}
.header .headerTop .headerTopLeft .headerLinkDiv .headerSubLink .headerSubLinkSide .headerSubLinkSideTitle {
    font-size: 22px;
    font-weight: bold;
}
.header .headerTop .headerTopLeft .headerLinkDiv .headerSubLink .headerSubLinkSide .headerSubLinkSideLink {
    margin-top: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 250ms;
}


/** -- 1.1 -- */



/** 1.2 -- Header Top na direita */
.header .headerTop .headerTopRight {        /** Div Father */
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header .headerTop .headerTopRight .headerTopRightLink {        /** Div com os links */
    width: 55px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}
.header .headerTop .headerTopRight .headerTopRightLink .badge {     /** Badge em cima do icon de cesta de compras */
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #CD553F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 15px;
    margin-left: 22px;
    font-family: arial;
}
/** -- 1.2 -- */
/** -- 1 -- */

/** 2 -- HeaderBottom */
.header .headerBottom {     /** Div Father */
    background-color: #eee;
    height: 500px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}
.header .btnCarousel {      /** Div com 2 botões para mudar Carousel */
    position: absolute;
    top: 530px;
    right: 55%;
    width: 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: center;
}
.header .btnCarousel .ball {        /** Div singular do botão para mudar Carousel */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}


/** 2.1 -- Div à esquerda (onde contém os textos com o botão) */
/** Algumas css repetidos com classes diferentes porque são 1 para cada item do Carousel */
.header .left {     /** Div Father  */
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.header .left .topText {            /** Texto Topo */
    color: #666;
    font-size: 35px;
}
.header .left .centerText {         /** Primeiro Texto do meio, do Carousel */
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
    animation: fadeToLeft 1s;
}
.header .left .centerText2 {        /** Segundo texto do meio, do Carousel */
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
    animation: fadeToLeft2 1s;
}
.header .left .bottomText {         /** Primeiro texto de baixo, do Carousel */
    margin-top: 15px;
    color: #666;
    font-size: 20px;
    animation: fadeToRight 1s;
}
.header .left .bottomText2 {        /** Segundo texto de baixo, do Carousel */
    margin-top: 15px;
    color: #666;
    font-size: 20px;
    animation: fadeToRight2 1s;
}
/** -- 2.1 -- */


/** 2.2 -- Dentro do Header na direita */
.header .img {      /** Primeira imagem do Carousel */
    height: 500px;
    width: 100%;
    animation: fade 2s;
    background-image: url("../img/header.png");
    background-size: cover;
}
.header .img2 {     /** Segunda imagem do Carousel */
    height: 500px;
    width: 100%;
    animation: fade2 2s;
    background-image: url("../img/header2.png");
    background-size: cover;
}
/** -- 2.2 -- */
/** -- 2 -- */

/** Hovers */
.header .headerTop .headerTopLeft .headerLinkDiv:hover .headerLink {        /** Links do HeaderTop da esquerda */
    border-bottom: 1px solid #CD553F;
    color: #CD553F;
}
.header .headerTop .headerTopRight .headerTopRightLink:hover {      /** Icons da direita recebem um background-color ao passar mouse em cima */
    cursor: pointer;
    background-color: #ddd;
}

.menuItem:hover,    /** Color do texto dentro dos menus dropdowns e nos subLinks*/
.header .headerTop .headerTopLeft .headerLinkDiv .headerSubLink .headerSubLinkSide .headerSubLinkSideLink:hover {
    color: #CD553F;
}
.header .btnCarousel .ball:hover {      /** Bola com button do Carousel */
    cursor: pointer;
}
/** */

/** Animations */

/** Animação BottomText **/
@keyframes fadeToRight {
    from{opacity: 0; transform: translateX(-50%)}
    to{opacity: 1}
}
@keyframes fadeToRight2 {
    from{opacity: 0; transform: translateX(-50%)}
    to{opacity: 1}
}
/** **/

/** Animação TopText **/
@keyframes fadeToLeft {
    from{opacity: 0; transform: translateX(50%)}
    to{opacity: 1}
}
@keyframes fadeToLeft2 {
    from{opacity: 0; transform: translateX(50%)}
    to{opacity: 1}
}
/** **/

/** Animação Imagens **/
@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}
@keyframes fade2 {
    from{opacity: 0}
    to{opacity: 1}
}
/** **/

/** */