/** As classes que "clonei" como centerText e centerText2, significa que precisei fazer 2 animações diferentes para
    cada uma, assim me obrigando a criar 2 classes pra cada uma pegar uma animação
 */

.header {
    width: 100%;
    font-family: Candara;
}


/** Começo do HeaderTop */
.header .headerTop {
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

/** 1 -- Header Top na esquerda */
.header .headerTop .headerTopLeft {
    display: flex;
}
.header .headerTop .headerTopLeft .headerLinkDiv {
    display: flex;
    margin-left: 15px;
    height: 80px;
    align-items: center;
}
.header .headerTop .headerTopLeft .headerLinkDiv .headerLink {
    height: 20px;
    transition: 250ms;

}
/** -- 1 -- */

/** 2 -- Header Top na direita */
.header .headerTop .headerTopRight {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header .headerTop .headerTopRight .headerTopRightLink {
    margin-left: 5px;
    width: 65px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}
.header .headerTop .headerTopRight .headerTopRightLink .badge {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #CD553F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 15px;
    margin-left: 22px;
    font-family: arial;
}
/** -- 2 -- */
/** Fim HeaderTop */

/** Começo Header Bottom */
.header .headerBottom {
    background-color: #ccc;
    height: 500px;
    display: grid;
    align-items: center;
    grid-template-columns: 50% 50%;
}

.header .btnCarousel {
    position: absolute;
    top: 530px;
    right: 55%;
    width: 10%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    justify-content: center;
}
.header .btnCarousel .ball {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 500ms;
}


/** 3 -- Dentro do Header à esquerda (onde contém os textos com o button) */
.header .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
.header .left .topText {            /** Texto Topo */
    color: #666;
    font-size: 35px;
}
.header .left .centerText {         /** Primeiro Texto do meio, do Carousel */
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
    animation: fadeToLeft 1s;
}
.header .left .centerText2 {        /** Segundo texto do meio, do Carousel */
    margin-top: 15px;
    font-size: 45px;
    font-weight: bold;
    animation: fadeToLeft2 1s;
}
.header .left .bottomText {         /** Primeiro texto de baixo, do Carousel */
    margin-top: 15px;
    color: #666;
    font-size: 20px;
    animation: fadeToRight 1s;
}
.header .left .bottomText2 {        /** Segundo texto de baixo, do Carousel */
    margin-top: 15px;
    color: #666;
    font-size: 20px;
    animation: fadeToRight2 1s;
}
/** -- 3 -- */


/** 4 -- Dentro do Header na direita */
.header .img {      /** Primeira imagem do Carousel */
    height: 500px;
    width: 100%;
    animation: fade 2s;
    background-image: url("../img/header.png");
    background-size: cover;
}
.header .img2 {     /** Segunda imagem do Carousel */
    height: 500px;
    width: 100%;
    animation: fade2 2s;
    background-image: url("../img/header2.png");
    background-size: cover;
}
/** -- 4 -- */
/** Fim HeaderBottom */

.header .headerTop .headerTopLeft .headerLinkDiv .headerLink:hover {        /** Links do HeaderTop da esquerda */
    cursor: pointer;
    border-bottom: 1px solid #CD553F;
    color: #CD553F;
}

.header .headerTop .headerTopRight .headerTopRightLink:hover {
    cursor: pointer;
    background-color: #ddd;
}

.menuItem:hover {       /** Color do texto dentro dos menus dropdowns */
    color: #CD553F;
}

.header .btnCarousel .ball:hover {      /** Bola com button do Carousel */
    cursor: pointer;
}


/** Animação BottomText **/
@keyframes fadeToRight {
    from{opacity: 0; transform: translateX(-50%)}
    to{opacity: 1}
}
@keyframes fadeToRight2 {
    from{opacity: 0; transform: translateX(-50%)}
    to{opacity: 1}
}
/** **/

/** Animação TopText **/
@keyframes fadeToLeft {
    from{opacity: 0; transform: translateX(50%)}
    to{opacity: 1}
}
@keyframes fadeToLeft2 {
    from{opacity: 0; transform: translateX(50%)}
    to{opacity: 1}
}
/** **/

/** Animação Imagens **/
@keyframes fade {
    from{opacity: 0}
    to{opacity: 1}
}
@keyframes fade2 {
    from{opacity: 0}
    to{opacity: 1}
}
/** **/