.login {        /** Div Father */
    padding: 50px;
    font-family: Candara;
}

/** 1 -- Main Div */
.login .loginChild {        /** Div Father */
    display: grid;
    grid-template-columns: auto 50%;
    grid-gap: 20px;
    margin-top: 25px;
}

/** 1.1 -- Divs Left e Right */
.login .loginChild .right {     /** Div alinhada a direita */
    max-height: 60%;
}
.login .loginChild .left, .login .loginChild .right {       /** Divs esquerda e direita */
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    padding: 0 20px 20px 20px;
}
.login .loginChild .bold {      /** Texto destacado em Negrito */
    font-weight: bold;
    font-size: 20px;
}
.login .loginChild .inputDiv {      /** Div com label e input alinhado verticalmente */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.login .loginChild .label {     /** Label */
    font-size: 20px;
}
.login .loginChild .input {     /** Input */
    border: 1px solid #ddd;
    height: 40px;
    padding-left: 10px;
    margin-top: 5px;
    font-size: 20px;
    transition: 250ms;
}
.login .loginChild .forgot {        /** Texto com link para ir para a tela ForgotPassword */
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 250ms;
}
.login .loginChild .right .text {       /** Texto apenas da Div alinhada a direita */
    margin-top: 15px;
    font-size: 20px;
}
/** -- 1.1 -- **/

/** -- 1 -- **/

/** Hovers **/
.login .loginChild .forgot:hover {      /** Muda a cor do texto Forgotten Password ao passar mouse em cima */
    color: #CD553F;
}
/** **/

/** Focus **/
.login .loginChild .input:focus {       /** Muda cor da borda do input ao focar */
    border: 1px solid #CD553F;
}
/** **/