.product {      /** Div Father */
    font-family: Candara;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.product .productInfo {     /** Div Father com as infos do produto */
    width: 100%;
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}
.product .line {        /** Linha para separar as divs */
    background-color: #ddd;
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

/** 1 -- Div esquerda */
.product .productInfo .imgDiv {          /** Div Father */
    height: 100%;
    width: 80%;
    border-radius: 5px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.product .productInfo .imgDiv .img {     /** Imagem em PNG */
    height: 400px;
    width: 400px;
}
/** -- 1.1 -- */

/** 2 -- Div direita */
.product .productInfo .rightDiv {        /** Div Father */
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.product .productInfo .rightDiv .name {       /** Nome do produto */
    font-size: 25px;
    font-weight: bold;
}

/** 2.1 -- Div de cima com algumas infos do produto */
.product .productInfo .rightDiv .top {       /** Div Father */
    margin-top: 10px;
}
.product .productInfo .rightDiv .top .infoDiv {          /** Div com 2 textos alinhados na horizontal */
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.product .productInfo .rightDiv .top .infoDiv span {         /** Textos da infoDiv */
    font-size: 18px;
    margin-top: 5px;
}
.product .productInfo .rightDiv .top .infoDiv .rightSpan {       /* Apenas os textos da direita da infoDiv */
    width: 100px;
}
/** -- 2.1 -- */

/** 2.2 -- Div de Texto com preço  */
.product .productInfo .rightDiv .divPrice {        /** Div Father */
    display: flex;
    flex-direction: column;
}
.product .productInfo .rightDiv .divPrice .price {       /** Texto */
    font-size: 35px;
    font-weight: bold;
}
/** -- 2.2 -- */

/** 2.3 -- Div com quantidade */
.product .productInfo .rightDiv .qtdDiv {         /** Div Father */
    display: flex;
    align-items: center;
}
.product .productInfo .rightDiv .qtdDiv .btns {      /** Div alinhada horizontalmente com botões */
    display: flex;
    margin-left: 50px;
}
.product .productInfo .rightDiv .qtdDiv .btns .less {         /** Botão de Menos */
    border: 1px solid #ddd;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product .productInfo .rightDiv .qtdDiv .btns .input {       /** Input entre os botões */
    width: 40px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
}
.product .productInfo .rightDiv .qtdDiv .btns .more {        /** Botão de Mais */
    border: 1px solid #ddd;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/** -- 2.3 -- */

/** 2.4 -- Div de baixo com os botões de escolher o que fazer com o produto */
.product .productInfo .rightDiv .bottomDiv {     /** Div Father */
    display: flex;
}
.product .productInfo .rightDiv .bottomDiv .largeBtn {       /** Botão grande (Add To Cart) */
    background-color: #CD553F;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 150px;
    border-radius: 5px;
    font-size: 18px;
    transition: 250ms;
}
.product .productInfo .rightDiv .bottomDiv .smallBtn {       /** Botão pequeno (Wish e Compare) */
    width: 50px;
    height: 50px;
    border-radius: 5px;
    background-color: #CD553F;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 250ms;
}
/** -- 1.2.4 -- */

/** 1.2.5 -- Div com infos de Review */
.product .productInfo .reviewRow {    /** Div Father */
    display: flex;
}
.product .productInfo .reviewRow .reviewRowDiv {     /** Div Item */
    margin-left: 15px;
    font-size: 22px;
    font-family: Cambria;
}
.product .productInfo .reviewRow .reviewRow span {       /** Texto */
    color: #000;
    transition: 250ms;
}
.product .productInfo .reviewRow .lineVertical {     /** Linha vertical que separa as divs */
    height: 100%;
    width: 1px;
    background-color: #000;
    margin-left: 15px;
}
/** -- 1.2.5 -- */
/** -- 1.2 -- */


.product .review {
    width: 90%;
    border: 1px solid #ddd;
    margin-bottom: 50px;
}

.product .review .top {     /** Essa div não usa nenhum css antes do .top pois serve pra dus divs Fathers diferentes */
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid #ddd;
}

.product .review .top .btnChange { /** Essa div não usa nenhum css antes do .top pois serve pra dus divs Fathers diferentes */
    margin-left: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #CD553F;
    cursor: pointer;
    transition: 250ms;
    font-size: 18px;
}

.product .review .productFeatures .descriptionDiv {
    margin: 20px;
}
.product .review .productFeatures .descriptionDiv .description {
    font-size: 20px;
    line-height: 1.3;
}

.product .review .productFeatures .featuresDiv {
    margin: 20px;
}
.product .review .productFeatures .featuresDiv .title {
    font-size: 22px;
    font-weight: bold;
}

.product .review .productFeatures .featuresDiv .featuresText {
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 50px;
}
.product .review .productFeatures .featuresDiv .featuresText .featuresRow {
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.product .review .productFeatures .featuresDiv .featuresText .featuresRow .smallBall {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #000;
    margin-right: 10px;
}
.product .review .productFeatures .featuresDiv .featuresText .featuresRow span {
    font-size: 18px;
}


.product .review .reviewForm {
}

.product .review .reviewForm .divTop {
    border: 1px solid #ddd;
    margin: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 18px;
}

.product .review .reviewForm .title {
    font-size: 25px;
    font-weight: bold;
    margin: 20px;
}

.product .review .reviewForm .divInput {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.product .review .reviewForm .divInput .label {
    font-size: 18px;
    display: flex;
    align-items: center;
}
.product .review .reviewForm .divInput .input {
    border: 1px solid #ddd;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
    padding-left: 10px;
}
.product .review .reviewForm .divInput .bigInput {
    border: 1px solid #ddd;
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    height: 150px;
}

.product .review .reviewForm .rating {
    display: flex;
    align-items: center;
    height: 60px;
    margin-left: 20px;
}

.product .review .reviewForm .rating span {
    margin-right: 20px;
    font-size: 18px;
}
.product .review .reviewForm .rating div {
    cursor: pointer;
    margin-right: 5px;
}




.product .review .reviewForm .divInput .input:focus, .product .review .reviewForm .divInput .bigInput:focus {
    border: 1px solid #CD553F;
    outline: #CD553F;
}

/** Hovers */
.product .productInfo .rightDiv .bottomDiv .largeBtn:hover, .product .rightDiv .bottomDiv .smallBtn:hover {     /** Botões grande e pequeno ficam pretos */
    background-color: #000;
    cursor: pointer;
}
.product .productInfo .reviewRow .reviewRowDiv span:hover {     /** Texto de Review ficar #CD553F */
    color: #CD553F;
    cursor: pointer;
}
.product .review .productFeatures .top .btnChange:hover {
    color: #CD553F;
}
/** **/

