.quality {  /** Div Father */
    background-image: url("../img/quality.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    font-family: Candara;
}

/** 1 -- Array */
.quality .arrayDiv {    /** Div Father */
    background-color: rgba(0, 0, 0, 0.8);
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 300px;
}
.quality .itemDiv {     /** Div com item único */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #ddd;
    margin: 50px 0;
}
.quality .itemDiv .title {      /** Título (texto grande)*/
    color: #fff;
    font-size: 30px;
    margin-top: 20px;
}
.quality .itemDiv .subTitle {       /** Sub título (texto pequeno */
    color: #999;
    font-size: 20px;
    margin-top: 5px;
}